.title-text {
    text-align: center;
    font-weight: 600;
    padding-top: 1rem;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-field {
    padding: 1rem;
}

.table-columns {
    text-align: center;
}

.new-hero-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}