.title-text {
    text-align: center;
    font-weight: 600;
    padding-top: 1rem;
}

.hero-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    padding: 1rem;
}